body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.redDot{
  border:10px solid red;
  border-radius:10px;
}
.dancer{
  position:absolute;
  transition-property: width height transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.narwall {
  background-image: url(https://www.nicepng.com/png/full/78-789282_free-narwhal-clipart-narwhal-clip-art.png);
  width: 300px;
  height: 100px;
  background-size: 300px 100px;

}
.dolphin {
  background-image: url(https://www.acsonline.org/assets/images/tursiops-truncatus-1.png);
  background-size: 300px 100px;
  width: 300px;
  height: 100px;
}
.big {
  background-size: 600px 200px;
  width: 600px;
  height: 200px;
}

.upsideDown {
  transform: rotate(90deg);
}